*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box ;
    font-family:var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));

}
nav{
    height: 100px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;

}
nav>article{
    height: 100%;
    width: 90%;
    display: flex;

}
nav>article>.logo{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
nav>article>.logo>svg{
    width: 20%;
    fill: white;
}
nav>article>.menu{
    height: 100%;
    width: 50%;
    /* background-color: brown; */
    
}
#homepage{
    height: 100vh;
    width: 100vw;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, 
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display:flex;
    justify-content: center;
    align-items: end;
}
#homepage>article{
    height:75%;
    width: 80%;
    /*border:2px solid white;*/
    display: flex;
    justify-content:center;
}
#homepage>article>.phone{
    height: 100%;
    width: 40%;
}
#homepage>article>.phone>div{
    height: 100%;
    width: 60%;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 40px 40px 0px 0px; */
    display: flex;
    justify-content: center;
    padding-left: 20px;
    flex-direction: column;


}
#homepage>article>.phone>div{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding: 2px;
}
/* #homepage>article>.phone>div>.spiker{
    height: 10%;
    width: 60px;
    background-color: black;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 20px;


} */
#homepage>article>.phone>div>.spiker{
    height: 100px;
    width: 50px;
    background-color: black;
    border-radius: 20px;
    margin-top: 35px;
}
#homepage>article>.phone>div>img{
    height: 100%;
    width: 98%;
}
#homepage>article>.text{
    height: 100%;
    width: 60%;
    /*background:red;*/
}
h1{
    font-family:var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color:aliceblue;
    align-items: center;
    margin-top: 100px;
    word-spacing: 8px;
    font-size: 50px ;
    font-style: arial;
    font-weight: 900;
    

}
button{
    font-family:var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    height: 43px;
    width: 200px;
    font-size: 16px;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}

#normal_text{
    height: 500px;
    width: 100vw;
    background:linear-gradient(rgb(176, 35, 194) 15%,rgb(96, 11, 231));
    display:flex;
    justify-content: center;
}

#normal_text>div{
    height: 200px;
    color:aliceblue;
    align-items: center;
    margin-top: 100px;
    word-spacing: 8px;
   
    text-align: center;
    font-size: 50px ;


}
.container{
    padding: 0 15px;
    margin: 60px 165px 0 165px;
    display: flex;

}
.favours-card{
    width:25%;
    display: block;
        margin: 0px auto 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.title{
    display: block;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 21px;
        padding: 0px;
        line-height: 1.3em;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        margin-block: 0px;
        font-weight: 600;
}
.content{


    margin: 0px auto;
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
}


























































































































































































































































































































































































nav>article>.menu>ol{
    height:100%;
    width:100%;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
nav>article>.menu>ol>li>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font: size 15px;
}
nav>article>.menu>ol>li>a:hover{
    color: rgb(9, 186, 9);
}
